*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
}
header{
    background-color: orange;
}
header a{
    text-decoration: none;
    color: black;
}
#logo{
    margin-left: 30px;
}
span{
    margin-left: 500px;
}
aside{
    margin: 0px 20px 0px 0px;
    width: 200px;
    height: 500px;
    background-color:  rgba(43, 27, 43, 0.76);
    border-radius: 0px 0px 15px 15px;

    
}
aside a{
    display: block;
    width: 180px;
    background-color: orange;
    padding: 10px;
    margin: 10px 10px;
    text-decoration: none;
    color: black;
    border-radius: 15px;
}
h3{
    margin: 10px;
    color: gray;
}
.container{
    display: flex;
}
#video{
    margin-top: 20px;
    width: 1080px;
    height: 400px;
    background-color: orange;
}
#control{
    margin-top: 20px;
    width: 1080px;
    height: 50px;
    background-color: orange;
}

button{
    margin-top: 13px;
    margin-left: 10px;
    padding: 5px;
    border-radius: 5px;
    border-style: none;
    color: white;
    background-color: black;
}
#previous{
    margin-left: 800px;
}

video{
    margin-top: 25px;
    margin-left: 25px;
}
footer{
    margin-top: 80px;
    background-color: orange;
    text-align: center;
}

